{% extends 'base.html' %}

{% block title %}
  Our Rented Properties
{% endblock %}

{% block main %}
  <h1>Our Rented Properties</h1>
  
  <div class="card-deck mb-3 text-center">
  <!-- If tag in a following code checks whether contract end date is less than expries_soon context property and applies different styles to a div based on result of an equation. This may violate "dumb template" rule but really it's an only solution worked out for me -->
  {% for property in object_list %}
    <div class="
      {% if property.contract.end_date < 30_days %}
        rent-expires-soon
      {% else %}
        property-element
      {% endif %}
      card mb-4 shadow-sm">
      <p>Address: {{ property.address }}</p>
      <p>Location: {{ property.city }}</p>
      <p>Owner's name: {{ property.owner.first_name }} {{ property.owner.last_name }}</p>
      <p>Due date: {{ property.contract.end_date }}</p>
      <p>Account balance: ${{ property.contract.payment.account_balance }}</p>
    </div>
    <br>
  {% endfor %}
  </div>
  
{% endblock %}
