{% extends 'base.html' %}

{% block title %}
  Our Rented Properties
{% endblock %}

{% block main %}
  <h1>Our Rented Properties.</h1>
  
  {% for property in object_list %}
    <div {% if property.expires_soon %}class="expires-soon"{% endif %}>
      {{ expires_soon }}
      <p>Address: {{ property.address }}</p>
      <p>Location: {{ property.city }}</p>
      <p>Owner's name: {{ property.owner.first_name }} {{ property.owner.last_name }}</p>
      <p>Due date: {{ property.contract.end_date }}</p>
      <p>Account balance: ${{ property.contract.payment.account_balance }}</p>
    </div>
    <br>
  {% endfor %}
  
{% endblock %}
